<h1 class="ejercicio">7. Componente de Calculadora Simple</h1>



<div class="contenido">

  <label for="num1">Número 1:</label>
  <input type="number" [(ngModel)]="num1" id="num1">

  <label for="num2">Número 2 (no necesario para raíz cuadrada):</label>
  <input type="number" [(ngModel)]="num2" id="num2">


  <select [(ngModel)]="operacion" id="operation">
    <option value="suma">Suma</option>
    <option value="resta">Resta</option>
    <option value="multiplicacion">Multiplicación</option>
    <option value="division">División</option>
    <option value="raiz">Raíz Cuadrada (Usa solo Número 1)</option>

  </select>

  <button (click)="calculadora()">Calcular</button>


  <div *ngIf="resultado !== 0 || mensaje=='Error: División por 0' || mensaje=='Error: Raíz de número negativo' ">
    <h3>Resultado: {{ resultado }}</h3>
  </div>


</div>
